[Unit]
Description=Remrob webapp daemonized with gunicorn
After=network.target

[Service]
User={{ remrob_user }}
WorkingDirectory={{ service_dir }}
Environment="FLASK_ENV=production"
ExecStart={{ service_dir }}/.venv/bin/gunicorn --bind 0.0.0.0:5000 app:app --workers 4
Restart=always

[Install]
WantedBy=multi-user.target